.mainSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 94vh;
    width: 100%;
    border-bottom: solid 2px #000;
}

.divLogo {
    height: 100%;
    width: 100%;
}

.divLogo img {
    height: 100%;
}

.divCont {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.divTitleLogin {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

.divTitleLogin h2 {
    font-family: var(--font);
    font-weight: bold;
    margin-top: 17%;
    font-size: 40px;
}

.divForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
}

.divInp {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5%;
    width: 100%;
}

.divInp label {
    margin: 2% 0;
    font-family: var(--font);
    color: var(--primary-color);
    font-weight: bold;
    font-size: 18px;
}

.input {
    width: 500px;
    height: 60px;
    padding: 0 30px;
    border-radius: 20px;
    border: solid #3d3d3d 2px;
    text-align: left;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 15px;
}

.divBtn {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.divBtn button {
    width: 40%;
    padding: 5% 0;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--font-color);
    background: #3d3d3d;
    font-weight: bold;
    font-family: var(--font);
    border-radius: 10px;
}

.divBtn button:hover {
    background: #464646;
}

.divBtn button:active {
    background: #575757;
}

.divBtn a {
    font-family: var(--font);
    font-weight: bold;
    color: var(--secondary-color);
    text-align: left;
}

.divBtn a span {
    color: #626262;
}